doctype HTML
HTML
  head
    title Moving Text
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main3.css')
  body
    .bg
    .grid
      .boxart
        img#myImage(src='')
      .wrapper
        h1 Текуща игра:
        #GameName.text Game Name


    script(src='js/jquery-3.1.1.min.js')
    script(src='js/function3.js')
