doctype HTML
HTML
  head
    title BoxArt
    meta(charset='utf-8')
    link(rel='stylesheet', href='./css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .boxart
      img#myImage(src='')
      .wrapper
        #GameName.text
        span#timer 00:00

    #boxShadow
    h1 започваме след малко с :

    .show-container
      #progressBar.progress
        .progress-number(aria-valuenow='0%' style='left:0;')
        .rounded
          .progress-bar.animatedstripes(aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width:0;')

  script(src='./js/function.js')
