doctype HTML
HTML
  head
    title Moving Text
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/main3.css')
  body
    .typeGrid
      .typeWrapper
        .words#word1 В &nbsp;
        .words#word2 момента &nbsp;
        .words#word3 подготвям &nbsp;
        .words#word4 стрийма


    script(src='js/jquery-3.1.1.min.js')
    script(src='js/TweenMax.min.js')
    script(src='js/function3.js')
