doctype HTML
HTML
  head
    title BoxArt
    meta(charset='utf-8')
    link(rel='stylesheet', href='./css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  body
    .boxart
      img#myImage(src='http://static-cdn.jtvnw.net/ttv-static/404_boxart-272x380.jpg')
      #GameName.text
        span

    .title
      span
        
    script(src='./js/function.js')
