@import url('../css/Open-Sans-Bold.css')
@import url('../css/Montserrat-Bold.css')
$mainColor: #0189E9
$mainFont: 'montserratbold', sans-serif
*
  margin: 0
  padding: 0

body
  font-family: $mainFont
  overflow: hidden
  // .bg
  //     background: pink
  //     width: 1920px
  //     height: 1080px
  .grid
    display: flex
    flex-direction: row
    align-items: flex-end
    position: absolute
    left: 60px
    top: 715px


.boxart
  margin-bottom: -4px
  img
    height: 250px
    border-bottom: 5px solid $mainColor
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4)
  h1
    font-weight: bold
    font-size: 24px
    text-align: center
    color: white
    font-family: 'open_sansbold', sans-serif
    padding-bottom: 8px

.wrapper
  display: flex
  flex-direction: row
  align-items: center
  background-color: rgba(0, 56, 95, 0.5)
  line-height: 40px

  .text
    max-width: 1010px
    font-family: $mainFont
    text-align: left
    color: $mainColor
    font-size: 48px
    text-transform: uppercase
    padding: 32px

  .bar
    background-color: $mainColor
    width: 3px
    height: 48px
    display: flex
    margin-right: 32px




  #timer
    width: 172px
    color: white
    position: relative
    font-family: $mainFont
    font-size: 48px
    text-align: left


.container
  display: flex
  flex-direction: column
  align-items: flex-end
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4)
.show-container
  display: flex
  width: 100%
  align-self: flex-end

.rounded
  height: 100%
  overflow: hidden
  transform: translateZ(0)
.progress-container
  position: relative
.progress
  position: relative
  width: 100%
  height: 5px
  background-color: rgba(0, 56, 95, 0.5)
  .progress-bar
    position: relative
    height: 100%
    background-color: $mainColor
    box-sizing: border-box
    transition: width 3s ease-in-out
