@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic')
$positionAlign: 400px
$barWidth: 10px
*
  margin: 0
  padding: 0

body
  font-family: 'Russo One', sans-serif
  width: 1920px
  height: 1080px
  overflow: hidden
  background-repeat: no-repeat
  background-color: pink
  // background-image: url(../imgs/bg.jpg)

.boxart
  position: absolute
  left: 56px
  top: 648px
  width: 100%

.wrapper
  display: flex
  height: 190px
  position: absolute
  top: $positionAlign
  flex-direction: row
  align-items: center
  background-color: #242834
  padding-bottom: $barWidth

  .text
    max-width: 1010px
    font-family: 'Russo One', sans-serif
    text-align: left
    color: white
    font-size: 48px
    text-transform: uppercase
    padding-left: 15px
    padding-top: 10px

  #timer
    width: 220px
    color: #0189E9
    position: relative
    padding-left: 20px
    padding-top: $barWidth
    font-family: 'Russo One', sans-serif
    font-size: 70px
    text-align: left


h1
  background-color: #242834
  color: white
  text-transform: uppercase
  position: absolute
  left: 56px + 272px
  top: 648px
  padding: 35px 20px

.show-container
  position: absolute
  top: $positionAlign + 180px + $barWidth
  width: 20px
.rounded
  height: 100%
  overflow: hidden
  transform: translateZ(0)
.progress-container
  position: relative
.progress
  position: relative
  width: 100%
  height: $barWidth
  background-color: #242834
  .progress-bar
    position: relative
    height: 100%
    background-size: 10px 10px
    background-color: #0189E9
    box-sizing: border-box
    transition: width 1s linear
