@import url('Open-Sans-Bold.css')

*
  padding: 0
  margin: 0

.words
  display: flex
  font-family: 'open_sansbold', sans-serif
  font-size: 72px

.typeGrid
  background-color: pink
  width: 1920px
  height: 1080px
  display: flex
  align-items: center
  justify-content: center
.typeWrapper
  display: flex
  align-items: center
  align-self: center
  justify-content: center
  flex-wrap: wrap
  max-width: 1000px
