@import url("Open-Sans-Bold.css");
@import url("Montserrat-Bold.css");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "montserratbold", sans-serif;
  overflow: hidden; }
  body .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: absolute;
    left: 60px;
    top: 715px; }

.boxart {
  margin-bottom: -4px; }
  .boxart img {
    height: 250px;
    border-bottom: 5px solid #0189E9;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4); }
  .boxart h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'open_sansbold', sans-serif;
    padding-bottom: 8px; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 56, 95, 0.5);
  line-height: 40px;
  padding-top: 10px; }
  .wrapper .text {
    max-width: 1010px;
    font-family: "montserratbold", sans-serif;
    text-align: left;
    color: #0189E9;
    font-size: 48px;
    text-transform: uppercase;
    padding: 32px; }
  .wrapper .bar {
    background-color: #0189E9;
    width: 3px;
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 32px; }
  .wrapper #timer {
    width: 172px;
    color: white;
    position: relative;
    font-family: "montserratbold", sans-serif;
    font-size: 48px;
    text-align: left; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4); }

.show-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.rounded {
  height: 100%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.progress-container {
  position: relative; }

.progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 56, 95, 0.5); }
  .progress .progress-bar {
    position: relative;
    height: 100%;
    background-color: #0189E9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out; }

.words {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'open_sansbold', sans-serif;
  font-size: 72px;
  color: white; }

.typeGrid {
  background-color: pink;
  width: 1920px;
  height: 1080px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.typeWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1000px; }
